{% extends 'admin/master.html' %}

{% block body %}
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>Bot Dashboard</h2>

                <div class="section">
                    <h3>Trading Chart</h3>
{#                    <div id="trading-chart" class="trading-chart" style="height: 500px;"></div>#}
                    <div id="chart"></div>
                </div>

                <br>
                <div class="section mb-4">
                    <h3>Profit / Loss Data</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Side</th>
                            <th>Avg Entry Price</th>
                            <th>Avg Price</th>
                            <th>Contracts</th>
                            <th>Trade Status</th>
                            <th>PnL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="product_id">{{ profit_loss_data.product_id }}</td>
                            <td id="side">{{ profit_loss_data.side }}</td>
                            <td id="avg_filled_price">${{ profit_loss_data.avg_filled_price }}</td>
                            <td id="current_price">${{ profit_loss_data.current_price }}</td>
                            <td id="number_of_contracts">{{ profit_loss_data.number_of_contracts }}</td>
                            <td id="status">
                                {% if profit_loss_data.calc_percentage >= 1 %}
                                    Take profit at 1% or higher:
                                    <span id="calc_percentage">{{ profit_loss_data.calc_percentage }}</span>%
                                {% elif 2 > profit_loss_data.calc_percentage >= 0.5 %}
                                    Ready to take profit:
                                    <span id="calc_percentage">{{ profit_loss_data.calc_percentage }}</span>%
                                {% elif 0.5 >= profit_loss_data.calc_percentage >= 0 %}
                                    Neutral: <span id="calc_percentage">{{ profit_loss_data.calc_percentage }}</span>%
                                {% else %}
                                    Trade negative:
                                    <span id="calc_percentage">{{ profit_loss_data.calc_percentage }}</span>%
                                {% endif %}
                            </td>
                            {#                            <td id="calc_profit_or_loss">{{ "$%.2f"|format(profit_loss_data.calc_profit_or_loss) }}</td>#}
                            <td id="calc_profit_or_loss">{{ profit_loss_data.calc_profit_or_loss }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                {% if latest_positions %}
                    <div class="section mb-4">
                        <h3>Latest Futures Positions</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Side</th>
                                <th>Contracts</th>
                                <th>Current Price</th>
                                <th>Entry Price</th>
                                <th>Unrealized PnL</th>
                                <th>Daily Realized PnL</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for position in latest_positions %}
                                <tr>
                                    <td>{{ position.id }}</td>
                                    <td>{{ position.side }}</td>
                                    <td>{{ position.number_of_contracts }}</td>
                                    <td>{{ position.current_price }}</td>
                                    <td>{{ position.avg_entry_price }}</td>
                                    <td>{{ position.unrealized_pnl }}</td>
                                    <td>{{ position.daily_realized_pnl }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                <br>
                {% if latest_orders %}
                    <div class="section mb-4">
                        <h3>Latest Futures Orders</h3>
                        <table class="table table-striped table-custom">
                            <thead>
                            <tr>
                                <th class="col-1">ID</th>
                                <th class="col-1">Origin</th>
                                <th class="col-1">Bot Note</th>
                                <th class="col-1">Status</th>
                                <th class="col-1">Side</th>
                                <th class="col-1">Limit Price</th>
                                <th class="col-1">Base Size</th>
                                <th class="col-1">Settled</th>
                                <th class="col-2">Created</th>
                                <th class="col-2">Filled</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in latest_orders %}
                                <tr>
                                    <td class="col-1">{{ order.id }}</td>
                                    <td class="col-1">{{ order.creation_origin }}</td>
                                    <td class="col-1">{{ order.bot_note }}</td>
                                    <td class="col-1">{{ order.order_status }}</td>
                                    <td class="col-1">{{ order.side }}</td>
                                    <td class="col-1">${{ order.limit_price }}</td>
                                    <td class="col-1">{{ order.base_size }}</td>
                                    <td class="col-1">{{ order.settled }}</td>
                                    <td class="col-2">{{ order.created_time }}</td>
                                    <td class="col-2">{{ order.last_fill_time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                <br>
                {% if latest_signals %}
                    <div class="section mb-4">
                        <h3>Latest Aurox Signals</h3>
                        <table class="table table-striped table-custom">
                            <thead>
                            <tr>
                                <th class="col-2">Timestamp</th>
                                <th class="col-1">Price</th>
                                <th class="col-1">Signal</th>
                                <th class="col-2">Trading Pair</th>
                                <th class="col-1">Time Unit</th>
                                <th class="col-1">Group</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for signal in latest_signals %}
                                <tr>
                                    <td class="col-2">{{ signal.timestamp }}</td>
                                    <td class="col-1">{{ signal.price }}</td>
                                    <td class="col-1">{{ signal.signal }}</td>
                                    <td class="col-2">{{ signal.trading_pair }}</td>
                                    <td class="col-1">{{ signal.time_unit }}</td>
                                    <td class="col-1">{{ signal.message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="module">
        import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";

        function updateChart() {
            console.log(":updateChart:")

            // Create a new fetch request
            fetch('/admin/candles')
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                {#console.log(data, typeof(data)); // this will be a string#}

                let candles_data = null;

                if (data && data.length > 0) {
                    {#console.log("Data fetched:", data);#}
                    candles_data = data.map(d => {
                        {#console.log("d:", d);#}
                        return {
                            {#start_time: new Date(d.start_time),#}
                            start_time: d.start_time,
                            low: +d.low,
                            high: +d.high,
                            open_: +d.open,
                            close_: +d.close,
                            {#volume: +d.volume#}
                        };
                    });
                    {#console.log("candles_data:", candles_data);#}

                    draw_plot(candles_data);

                } else {
                    console.error('No data found or data is empty.');
                }
            }).catch(error => {
                console.error('Error fetching data:', error);
            });

            let draw_plot = function (candles) {
                let plot = Plot.plot({
                    inset: 6,
                    width: 1080,
                    height: 500,
                    x: {
                        label: "Date / Time",
                        {#tickFormat: "%-m/%-d",#}
                    },
                    y: {
                        grid: true,
                        label: "Price"
                    },
                    color: {
                        domain: [-1, 0, 1],
                        {#range: ["#4daf4a", "#999999", "#e41a1c"]#}
                        range: ["#e41a1c", "#999999", "#4daf4a"]
                    },
                    marks: [
                        Plot.ruleX(candles, {
                            x: "start_time",
                            y1: "low",
                            y2: "high",
                        }),
                        Plot.ruleX(candles, {
                            x: "start_time",
                            y1: "open_",
                            y2: "close_",
                            stroke: d => Math.sign(d.close_ - d.open_),
                            strokeWidth: 1,
                            strokeLinecap: "round"
                        })
                    ]
                })
                const div = document.querySelector("#chart");
                div.append(plot);
            }
        }

        updateChart();

        {#const update_chart_time = {{ app.config['UPDATE_CHART_TIME'] }}#}
        {#console.log("update_chart_time:", update_chart_time);#}

        // Refresh the data every 10 seconds
        {#setInterval(updateChart, update_chart_time);#}

    </script>

    <script type="text/javascript">
        function updateProfitLossData() {
            console.log(":updateProfitLossData:")

            fetch('/admin/latest_profit_loss_data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('product_id').innerText = data.product_id;
                    document.getElementById('side').innerText = data.side;
                    document.getElementById('avg_filled_price').innerText = `$${data.avg_filled_price}`;
                    document.getElementById('current_price').innerText = `$${data.current_price}`;
                    document.getElementById('number_of_contracts').innerText = `${data.number_of_contracts}`;

                    {#console.log(data.calc_percentage, typeof(data.calc_percentage));#}

                    const statusElement = document.getElementById('status');
                    let statusText;
                    if (data.calc_percentage >= 1) {
                        statusText = `Take profit at 1% or higher: ${data.calc_percentage}%`;
                    } else if (data.calc_percentage >= 0.5) {
                        statusText = `Ready to take profit: ${data.calc_percentage}%`;
                    } else if (data.calc_percentage >= 0) {
                        statusText = `Neutral: ${data.calc_percentage}%`;
                    } else {
                        statusText = `Trade negative: ${data.calc_percentage}%`;
                    }
                    statusElement.innerText = statusText;
                    document.getElementById('calc_profit_or_loss').innerText = (`$${data.calc_profit_or_loss}`).replace("$-", "-$");
                });
        }

        const update_profit_loss_time = {{ app.config['UPDATE_PROFIT_LOSS_TIME'] }}
        console.log("update_profit_loss_time:", update_profit_loss_time);

        // Refresh the data every 10 seconds
        setInterval(updateProfitLossData, update_profit_loss_time);

    </script>

{#    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script> #}
{#    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>#}
{#    <script type="text/javascript">#}
{#        // Set up the dimesnsions and margins of the graph#}
{#        const margin = {top: 20, right: 20, bottom: 30, left: 50},#}
{#              width = 1080 - margin.left - margin.right,#}
{#              height = 500 - margin.top - margin.bottom;#}
{##}
{#        // Parse the date / time#}
{#        const parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");#}
{##}
{#        // Set up the scales#}
{#        const x = d3.scaleTime().range([0, width]);#}
{#        const y = d3.scaleLinear().range([height, 0]);#}
{##}
{#        // Define the axes#}
{#        const xAxis = d3.axisBottom(x).tickFormat(d3.timeFormat("%Y-%m-%d %H:%M"));#}
{#        const yAxis = d3.axisLeft(y);#}
{##}
{#        // Define the candlestick chart#}
{#        const candlestick = d3.select("#chart")#}
{#            .append("svg")#}
{#            .attr("width", width + margin.left + margin.right)#}
{#            .attr("height", height + margin.top + margin.bottom)#}
{#            .append("g")#}
{#            .attr("transform", `translate(${margin.left},${margin.top})`);#}
{##}
{#        // Get the data#}
{#        d3.json("/admin/candles").then(data => {#}
{#            if (data && data.length > 0) {#}
{#                console.log("Data fetched:", data);#}
{#                data.forEach(d => {#}
{#                    d.start_time = parseDate(d.start_time);#}
{#                    d.low = +d.low;#}
{#                    d.high = +d.high;#}
{#                    d.open = +d.open;#}
{#                    d.close = +d.close;#}
{#                });#}
{##}
{#                // Filter the data to show only the last 3 days initially#}
{#                const thirtyDaysAgo = new Date(Date.now() - 30 * 24 * 60 * 60 * 1000);#}
{#                const initialData = data.filter(d => d.start_time >= thirtyDaysAgo);#}
{#                console.log("thirtyDaysAgo:", thirtyDaysAgo);#}
{#                console.log("Initial data for the last 3 days:", initialData);#}
{##}
{#                // Scale the range of the data#}
{#                x.domain(d3.extent(initialData, d => d.start_time));#}
{#                y.domain([d3.min(initialData, d => d.low), d3.max(initialData, d => d.high)]);#}
{##}
{#                // Add the x-axis#}
{#                candlestick.append("g")#}
{#                    .attr("class", "x axis")#}
{#                    .attr("transform", `translate(0,${height})`)#}
{#                    .call(xAxis);#}
{##}
{#                // Add the y-axis#}
{#                candlestick.append("g")#}
{#                    .attr("class", "y axis")#}
{#                    .call(yAxis);#}
{##}
{#                // Add the candlesticks#}
{#                candlestick.selectAll(".candlestick")#}
{#                    .data(initialData)#}
{#                    .enter().append("rect")#}
{#                    .attr("class", d => d.open > d.close ? "candlestick down" : "candlestick up")#}
{#                    .attr("x", d => x(d.start_time) - 2)#}
{#                    .attr("y", d => y(Math.max(d.open, d.close)))#}
{#                    .attr("width", 4)#}
{#                    .attr("height", d => Math.abs(y(d.open) - y(d.close)));#}
{##}
{#                // Add the wicks#}
{#                candlestick.selectAll(".wick")#}
{#                    .data(initialData)#}
{#                    .enter().append("line")#}
{#                    .attr("class", "wick")#}
{#                    .attr("x1", d => x(d.start_time))#}
{#                    .attr("x2", d => x(d.start_time))#}
{#                    .attr("y1", d => y(d.high))#}
{#                    .attr("y2", d => y(d.low))#}
{#                    .attr("stroke", "black");#}
{#            } else {#}
{#                console.error('No data found or data is empty.');#}
{#            }#}
{#         }).catch(error => {#}
{#            console.error('Error fetching data:', error);#}
{#         });#}
{##}
{##}
{#        console.log("TradingView:", TradingView);#}
{#        let widget = new TradingView.widget({#}
{#            "container_id": "trading-chart",#}
{#            "autosize": true,#}
{#            "symbol": "BINANCE:BTCUSDT",#}
{#            "interval": "15",#}
{#            "timezone": "Etc/EST",#}
{#            "theme": "dark",#}
{#            "style": "1",#}
{#            "locale": "en",#}
{#            "toolbar_bg": "#f1f3f6",#}
{#            "enable_publishing": false,#}
{#            "hide_legend": false,#}
{#            "save_image": false,#}
{#            "show_popup_button": true,#}
{#            "popup_width": "1000",#}
{#            "popup_height": "650"#}
{#         }); #}
{##}
{#        widget.ready(function () {#}
{#            fetch('/admin/orders')#}
{#                .then(response => response.json())#}
{#                .then(data => {#}
{#                    console.log("data:", data)#}
{#                });#}
{#         }); #}
{##}
{#        function updateProfitLossData() {#}
{#            fetch('/admin/latest_profit_loss_data')#}
{#                .then(response => response.json())#}
{#                .then(data => {#}
{#                    document.getElementById('product_id').innerText = data.product_id;#}
{#                    document.getElementById('side').innerText = data.side;#}
{#                    document.getElementById('avg_filled_price').innerText = `$${data.avg_filled_price}`;#}
{#                    document.getElementById('current_price').innerText = `$${data.current_price}`;#}
{#                    document.getElementById('number_of_contracts').innerText = `${data.number_of_contracts}`;#}
{##}
{#                    console.log(data.calc_percentage, typeof(data.calc_percentage));#}
{##}
{#                    const statusElement = document.getElementById('status');#}
{#                    let statusText;#}
{#                    if (data.calc_percentage >= 1) {#}
{#                        statusText = `Take profit at 1% or higher: ${data.calc_percentage}%`;#}
{#                    } else if (data.calc_percentage >= 0.5) {#}
{#                        statusText = `Ready to take profit: ${data.calc_percentage}%`;#}
{#                    } else if (data.calc_percentage >= 0) {#}
{#                        statusText = `Neutral: ${data.calc_percentage}%`;#}
{#                    } else {#}
{#                        statusText = `Trade negative: ${data.calc_percentage}%`;#}
{#                    }#}
{#                    statusElement.innerText = statusText;#}
{#                    document.getElementById('calc_profit_or_loss').innerText = (`$${data.calc_profit_or_loss}`).replace("$-", "-$");#}
{#                });#}
{#        }#}
{##}
{#        update_profit_loss_time = {{ app.config['UPDATE_PROFIT_LOSS_TIME'] }}#}
{#        console.log("update_profit_loss_time:", update_profit_loss_time);#}
{##}
{#        // Refresh the data every 10 seconds#}
{#        setInterval(updateProfitLossData, update_profit_loss_time);#}
{##}
{#    </script>#}

{% endblock %}
